@font-face {
    font-family: 'SFAlienEncounters';
    src: url('./fonts/SFAlienEncounters.ttf');
}

@font-face {
    font-family: 'Streamster';
    src: url('./fonts/Streamster.ttf');
}

@font-face {
    font-family: 'digital-7';
    src: url('./fonts/digital-7.ttf');
}